.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .table {
    width: 70%;
    a {
      color: $light-blue;
    }
  }
  tr {
    color: $light-blue;
    text-align: center;
  }
  th {
    color: $blue-grey !important;
  }
  .pagination {
    color: $blue-grey;
    .active {
      cursor: pointer;
    }
  }
  .table.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: $grey;
  }
}
